@mixin headerFontStyle {
    color: #191919;
    font-family: $headerFont;
}

@mixin textFontStyle {
    color: #7e7e7e;
    font-family: $textFont;
}

@mixin buttonFormat {
    font-size: 12px;
    text-transform: uppercase;
    color: $themeColorWhite;
    font-weight: 500;
    padding: 20px 40px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
    width: 70%;
    background-color: $themeColorBlue;
}

@mixin flexCenter {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;
}

@mixin gridOctoColumns {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 15px;
    margin: 0px;
}

@mixin centerIcons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

@mixin overlayImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98.9%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

@mixin skillsProgressBar {
    background-color: $themeColorBlue;
    height: 5px;
}